
.nav_data{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 2px 1px 2px #eee;

   
}
.logo{
 width:150;
 height:30px;
 padding-top: 20px;
}

.nav_bar_list{
    display: flex;
    
}
.list{
    justify-content: space-between;
    padding:20px;
    color:#666;
}
.land_img{
  display: flex;
  justify-content: center;
  min-height: 45vh;
}
.sign_up_btn{
    color: #fff;
    background-color: #387ed1;
    border: 1px solid rgba(0,0,0,0) !important;
    border-radius: 3px;
    padding:10px 30px;
    cursor: pointer;
    font-size: 20px;
    width: auto;
}
.stock_status{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin-left: 80px;
    margin-right: 150px;
}


.site_status{
 max-width: 100%;
 margin-right: 150px;
    
}
.list_stock{
    justify-content: space-between;
}
.row{
    display: flex;
  flex-flow: row wrap;
}
ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.eco_logo{
    max-width: 850px;
    height: auto;
    width:100%;
    justify-content: center;
}
.ecosystem_details{
    display: block;
}
.text-center{
    text-align: center;
}

.price_details{
    justify-content: space-between;
    display: flex;
}

h1{
    font-size: 2.75rem;
}
.price{
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
  
    text-align: center; 
     padding: 0 25px;
 
}
.sign_up{
    color: #fff;
    background-color: #387ed1;
    border: 1px solid rgba(0,0,0,0) !important;
    border-radius: 3px;
    padding:10px 30px;
    cursor: pointer;
    font-size: 20px;
    width: auto;
    margin-left: 550px;
    margin-right: 600px;
}



















footer {

    background-color: #fafafb;;
    border-top: 1px solid #eee;
    padding: 30px 0px 50px 0px;


}
footer .logo {
 padding: 10px; 
}

footer .logo img {
    max-height: 20px;
    width: auto;
}

img{
    max-width: 100%;
}

.container{
    margin-left: 100px ;
     margin-right: 300px ;
   
}



.three {
    flex-basis: 22%;
    width: 22%;
}
.columns, .column {
    box-sizing: border-box;
    flex: 0 1 auto;
}

.list-style{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-head{
    font-size:1.125rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.between{
    justify-content: space-between;
}
.row{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
}
footer .main-footer .nav-head {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 10px;
}

footer .main-footer li {
   line-height: 2;
}
footer .main-footer li a {
    color: #666;
}
a {
    text-decoration: none;
    font-weight: 500;
}
li{
    display: list-item;
}
p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}