.nav_data{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 2px 1px 2px #eee;

   
}
.logo{
 width:150;
 height:30px;
 padding-top: 20px;
}

.nav_bar_list{
    display: flex;
    
}
.list{
    justify-content: space-between;
    padding:20px;
    color:#666;
}
.land_img{
  display: flex;
  justify-content: center;
  min-height: 45vh;
}
.sign_up_btn{
    color: #fff;
    background-color: #387ed1;
    border: 1px solid rgba(0,0,0,0) !important;
    border-radius: 3px;
    padding:10px 30px;
    cursor: pointer;
    font-size: 20px;
    width: auto;
}
.stock_status{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin-left: 80px;
    margin-right: 150px;
}


.site_status{
 max-width: 100%;
 margin-right: 150px;
    
}
.list_stock{
    justify-content: space-between;
}
.row{
    display: flex;
  flex-flow: row wrap;
}
ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.eco_logo{
    max-width: 850px;
    height: auto;
    width:100%;
    justify-content: center;
}
.ecosystem_details{
    display: block;
}
.text-center{
    text-align: center;
}